.center-toogle {
    margin: auto;
}
.center-text {
    text-align: center;
}

.checkmark {
    position: relative;
    margin-left: 1em;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}