<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Max Stat Searcher Destiny 2 </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Max Stat Searcher Destiny 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <ng-container *ngIf="bungieName === null; else helloWorld">
        <ng-container *ngIf="code === undefined; else elseBlock">
            <div id="container">
                <ion-button href="{{href}}">AUTH</ion-button>
            </div>
        </ng-container>
        <ng-template #elseBlock>
            <div id="container">
                <ion-button (click)="this.createAuthToken()">LOGIN</ion-button>
            </div>
        </ng-template>
    </ng-container>
    <ng-template #helloWorld>
        <div id="container">Hola {{bungieName}}</div>
    </ng-template>
</ion-content>
