.masterwork {
    color: rgb(255, 208, 0);
    font-size: 11px;
}

.positivo {
    color: rgb(0, 162, 255);
    font-size: 11px;
}

.negativo {
    color: rgb(255, 0, 0);
    font-size: 11px;
}

.text {
    font-size: 11px;
}