.background {
    background-image: url("../../../assets/bgs/destiny-2-the-witch-queen-postcard_3840x2160_xtrafondos.com.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.rectangle {
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0;
    background-color: rgb(41, 41, 41);
}